/*UMIE SYAHIRAH BINTI MD SABRI 7/6/2021*/
body{
	background-color: #F5D5CB;
	font-family: 'Arial','Verdana',sans-serif;
	margin: 25px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4d4d4d;
}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:active{
	background-color: #000000;
}
li a:hover{
	background-color: #000000;
}

.banner{
	text-align: center;
	color: #3C1321;
	font-style: italic;
	align-items: center;
 	justify-content: center;
 	position: relative;
 	height: 250px;
 	background-color: white;
 	display: flex;
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
}
table{
	border-style: 100%;
	padding-top: 2%;
	padding-bottom: 10%;
}

th{
	text-align: center;
	background-color: white;
	font-size: 20px;
}
td{
	text-align: center;
	background-color: white;
}
div.polaroid{
	width: 40%;
	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 2px 2px;
}
#para1,{
	font-family: : Garamond, serif;
	color: #420D09;
}
#para2{
	font-size: 20px;
	font-style: bold;
}

h2,h3{
	text-align: left;
}
footer{
	text-align: center;
	color: #3C1321;
}